body
	padding 0
	margin 0
	font-size 100%
	background #ccc
	font-family Arial,sans-serif
.wrapper
	max-width: 960px
	margin 0 auto
	header
		padding 10px 0
		position relative
		h1
			color #777
			padding 2px 0 0 215px
			&:before
				  content ''
				  position absolute
				  display block
				  background url("../../images/logo-loveknitting.svg") no-repeat
				  background-size 200px 96px
				  width 200px
				  height 96px
				  top 0
				  left 0
				  margin 0 0 0 5px
	main
		background white
		padding 10px 20px 30px
		#regForm
			.form_row
				margin 15px 0 0
				label
					min-width 150px
					display inline-block
					color #464646
				input
					min-width 200px
					display inline-block
					padding 5px
			#regBtn
				margin 30px 0 0 154px
				background lightseagreen
				color white
				padding 5px 10px
				border 0
				cursor pointer
				&:disabled
					border 0
					outline none
					background #d8e6e8

	@media screen and (max-width: 768px)
		.wrapper header h1
			padding 0 0 0 80px
			&:before
				background url("../../images/logo-loveknitting-sm.svg") no-repeat
				background-size 72px 72px
				width 72px
				height 72px
		.wrapper main #regForm .form_row label
			padding 0 0 5px
			display block